//** VARIABLES **

// font-family:
$courier: "Courier New", Courier, monospace;
$verdana: "Verdana", sans-serif;

// color:
$color-darkest: #333b45;
$color-dark: #646b70;
$color-light: #969b9d;
$color-lightest: #f8faf5;
$color-accent: #719334;

// font-size:
$fontsize-1: 5.653rem;
$fontsize-2: 3.998rem;
$fontsize-3: 2.827rem;
$fontsize-4: 1.999rem;
$fontsize-text: 1rem;

// ** VARIABLES END **

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
  color: $color-lightest;
  text-align: left;
}

em,
legend {
  font-style: italic;
  color: $color-light;
}

a {
  text-transform: uppercase;
  text-decoration: underline;
}

a:hover {
  color: $color-accent;
  text-decoration: none;
}

body {
  background-color: $color-darkest;
  font-family: $verdana;
}

h1,
h2,
h3,
h4 {
  font-family: $courier;
  font-weight: 500;
}

h1 {
  font-size: $fontsize-2;
  color: $color-accent;
}

h2 {
  font-size: $fontsize-3;
  color: $color-lightest;
  padding-bottom: 3vh;
  padding-top: 5vh;
}

h3 {
  font-size: $fontsize-4;
  padding-bottom: 5vh;
  padding-top: 3vh;
  text-align: center;
}

h4 {
  font-size: $fontsize-4;
}

main {
  padding-left: 3vw;
  padding-right: 3vw;
}

header {
  background-color: $color-lightest;
  display: flex;
  place-content: center;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

footer {
  background-color: $color-dark;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

button {
  color: $color-accent;
  text-transform: capitalize;
  border: 2px $color-accent solid;
  padding: 10px;
  background-color: transparent;
  font-family: $courier;
}

button:hover {
  background-color: $color-lightest;
}

input[type="text"] {
  outline: none;
  border: $color-lightest solid 2px;
  max-height: 3rem;
  padding: 1.4rem;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  border: $color-accent solid 2px;
}

input:invalid {
  outline: none;
  border: red solid 2px;
}

input:valid {
  outline: none;
  border: greenyellow solid 2px;
}

span {
  color: $color-accent;
  font-size: inherit;
}

.white_border {
  border: 2px $color-lightest solid;
  padding: 1.5rem;
  margin-bottom: 2vh;
}

.no_class {
  border: none;
  padding: 0;
  background-color: none;
}
.no_class:hover {
  border: none;
  padding: 0;
  background-color: none;
}

.s-buttons {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 7vh;
  button {
    width: 15ch;
    height: 8ch;
    font-size: $fontsize-4;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $fontsize-4;
  }
}

.flex_wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

.flex_hor_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.be_aware {
  padding-bottom: 3vh;
}

.information_wrapper {
  padding-left: 2vw;
  padding-right: 2vw;

  h2 {
    text-align: center;
  }

  h3,
  p,
  em,
  span {
    text-align: justify;
  }

  p {
    max-width: 42ch;
    line-height: 2rem;
    padding-bottom: 0.8vh;
  }
}

// **OTHER THEME

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
