//** VARIABLES **

// font-family:
$courier: "Courier New", Courier, monospace;
$verdana: "Verdana", sans-serif;

// color:
$color-darkest: #333b45;
$color-dark: #646b70;
$color-light: #969b9d;
$color-lightest: #f8faf5;
$color-accent: #719334;

// font-size:
$fontsize-1: 5.653rem;
$fontsize-2: 3.998rem;
$fontsize-3: 2.827rem;
$fontsize-4: 1.999rem;
$fontsize-text: 1rem;

// ** VARIABLES END **

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
  color: $color-lightest;
}

em,
legend {
  font-style: italic;
  color: $color-light;
}

a {
  text-transform: uppercase;
  text-decoration: underline;
}

a:hover {
  color: $color-accent;
  text-decoration: none;
}

body {
  background-color: $color-darkest;
  font-family: $verdana;
}

h1,
h2,
h3,
h4 {
  font-family: $courier;
}

h1 {
  font-size: $fontsize-1;
  color: $color-accent;
}
h2 {
  font-size: $fontsize-2;
  color: $color-accent;
}
h3 {
  font-size: $fontsize-3;
}
h4 {
  font-size: $fontsize-4;
}

header {
  background-color: $color-lightest;
}

footer {
  background-color: $color-dark;
}

button {
  color: $color-accent;
  text-transform: capitalize;
  border: 2px $color-accent solid;
  padding: 10px;
  background-color: transparent;
}

button:hover {
  background-color: $color-lightest;
}

input[type="text"] {
  outline: none;
  border: $color-lightest solid 2px;
  max-height: 3rem;
  padding: 1.4rem;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  border: $color-accent solid 2px;
}

input:invalid {
  outline: none;
  border: red solid 2px;
}

input:valid {
  outline: none;
  border: greenyellow solid 2px;
}

// **OTHER THEME

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
